
@using EnterInsideShooping.Models;
@model List<News>

@{
    foreach (var item in Model)
    {
        <div class="main-content">
            <div class="content-image">
                <a href="#"><img src='@Url.Content("~/Media/Images/News/"+item.Images)' /></a>
            </div><!--content image-->
            <div class="content-title">
                <a href="#">@item.Title</a>
            </div><!--content-title-->
            <div class="content-price">
              
            </div><!--Content-price-->
        </div><!--Main-Content-->

    }
}


