
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_MainLayout.cshtml";
}

<h2>You guys contact me if have any issues:</h2>
<p>FullName:Kiran Singh</p>
<p>Email:keshavsing0070@gmail.com</p>
<p>Skype:kiran0070</p>
<p>Facebook:facebook.com/kiran</p>